@page "/counter"
@using System.ComponentModel;
@using System.Globalization;
@using BlazorApp2.Components.Postcard;

<PageTitle>CSForLearning|Counter</PageTitle>


<h1 style="background-color:red">Counter</h1>
<Postcard Title="Postcard 1" />
<Postcard Title="Postcard 2" />
<Postcard Title="Postcard 3" />
<Postcard Title="Postcard 4" />
@code {
	
}