@page "/hourlyForecast"
@inject HttpClient Http
<PageTitle>CSForLearning|Hourly Weather forecasts</PageTitle>
<h3>Forecast By Hour</h3>

@if ( weatherForecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Temperature</th>
            </tr>
        </thead>
        <tbody>
                 @foreach (var hourlytemp in weatherForecast.hourlyTemperatures())
            {
                <tr>
                    <td>@hourlytemp.Key.ToUniversalTime()</td>
                    <td>@hourlytemp.Value</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    
    private WeatherForecast? weatherForecast;
    protected override async Task OnInitializedAsync()
    {
        
        string requestUri = "https://api.open-meteo.com/v1/forecast?latitude=46.77&longitude=23.60&hourly=temperature_2m&daily=weathercode,temperature_2m_max,temperature_2m_min&current_weather=true&timezone=auto";
        string json = await Http.GetStringAsync(requestUri);
        weatherForecast = JsonSerializer.Deserialize<WeatherForecast>(json);
    
    }

}
